@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@400;500&display=swap');
:root{
  /* Colors */
  --color1: #5D3891;
  --color2: #D9ACF5;
  --color3: #20262E;
  --color4: #F5F5F5;
  --color5: #03C988;
  --color6: #F55050;
  --color7: #F99417;
  --color8: #967dc5;

  --Lexend: 'Lexend Deca', sans-serif;
  --Inter: 'Inter', sans-serif;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}
body{
  background-color: var(--color1);
  max-width: 100%;
}

.container{
  display: flex;
  flex-direction: column;
}

.container-head{
  background-color: var(--color2);
  max-width: 100%;
  height: 89px;
  /* margin-bottom: 20px; */

  display: flex;
  align-items: center;
}
.container-head a{
  margin-left: 1.25rem;
}
.container-head__logo{
  color: var(--color3);
  font-family: var(--Lexend);
  font-size: 2rem;
  font-weight: var(--medium);
}
/*Container random fotos*/
.container-random{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .625rem 1.25rem;
}
.container-random h2{
  color: var(--color4);
  font-family: var(--Inter);
  font-weight: var(--bold);
  font-size: 1.5rem;
  padding-top: 10px;
}
.container-random-card{
  display: flex;
  gap: .625rem;
  padding: .9375rem 0;
}
.container-random-card > article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 500px;
  height: 420px;
}
.container-random-photoDog{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container-random-buttom{
  padding: 10px 0;
}
.container-random-buttomSave{
  border: none;
  border-radius: .3125rem;
  background-color: var(--color5);
  color: var(--color3);
  cursor: pointer;
  font-family: var(--Inter);
  font-weight: 600;
  padding: .4375rem .625rem;
  height: 45px;
  width: 250px;
}
.container-random-buttomshow{
  padding: 15px 0;
}
.container-random-showDog{
  border: none;
  border-radius: .3125rem;
  background-color: var(--color7);
  color: var(--color3);
  cursor: pointer;
  font-family: var(--Inter);
  font-weight: 600;
  padding: .4375rem .625rem;
  height: 45px;
  width: 200px;
}
/*Galeria*/
.container-gallery{
  background-color: var(--color8);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  display: flex;
  justify-content: center;
  width: 100%;
}
.container-gallery-grid{
  background-color: var(--color2);
  box-shadow: 3px 4px 20px 0px rgba(32,38,46,0.75);
      -webkit-box-shadow: 3px 4px 20px 0px rgba(32,38,46,0.75);
      -moz-box-shadow: 3px 4px 20px 0px rgba(32,38,46,0.75);
  border-radius: 15px;
  width: 80%;
  margin-top: 1.75rem;
  padding: 0 1.5625rem;
  margin-bottom: 28px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: .5rem;
}
.container-gallery-grid h2{
  grid-column: 1/4;
  color: var(--color3);
  font-family: var(--Lexend);
  font-size: 1.7rem;
  padding: 15px 0;
}

.container-gallery-grid article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container-gallery-image{
  width: 100%;
  object-fit: cover;
}
.container-gallery-buttom{
  padding: 10px 0;
}
.container-gallery-deletePhoto{
  border: none;
  border-radius: .3125rem;
  background-color: var(--color6);
  color: var(--color4);
  cursor: pointer;
  font-family: var(--Inter);
  font-weight: 600;
  padding: .4375rem .625rem;
  height: 45px;
  width: 250px;
}